<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Inicio</title>
    <link rel="stylesheet" href="/CSS/Styles.css"/>
    
    <Link href="../CSS/Styles.css" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
<div style="text-align:center">
	<h1>valid</h1>
</div>

<form id="formulario" style="width:50%;	margin-left: 20%;">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombres</label>
    <input type="text" class="form-control" id="exampleInputEmail1" name="nombres" aria-describedby="emailHelp" placeholder="example: pepito ">
    <small id="emailHelp" class="form-text text-muted"></small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Apellidos</label>
    <input type="text" class="form-control" id="exampleInputPassword1" name="apellidos" placeholder="example:zutanejo">
  </div>
  <button type="submit" class="btn btn-primary">Crear</button>
</form>

<a href="http://localhost:8080/view/update" class="btn btn-info" role="button">Enlace</a>


<script src="/js/actualizar.js"></script>
</body>
</html>